.blackTile {
    width: 40px;
    height: 40px;
    background-color: gray;
    font-size: 30px;
    cursor: grab;
}

.grayTile {
    width: 40px;
    height: 40px;
    font-size: 30px;
    background-color: #eeeeee;
    cursor: grab;
}

.highlightBlack {
    width: 40px;
    height: 40px;
    font-size: 30px;
    background-color: #ff6600;
    cursor: grab;
}

.highlightGray {
    width: 40px;
    height: 40px;
    font-size: 30px;
    background-color: #FFA07a;
    cursor: grab;
}

.whitePiece{

}

.blackPiece{

}